{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="jumbotron bg-primary text-white p-5 rounded">
            <h1 class="display-4">Zabbix Tag Manager</h1>
            <p class="lead">Manage tags in Zabbix 7</p>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body text-center">
                <i class="fas fa-server fa-3x text-primary mb-3"></i>
                <h5 class="card-title">Hosts</h5>
                <a href="{{ url_for('hosts') }}" class="btn btn-primary">
                    <i class="fas fa-arrow-right"></i> Manage Tags
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body text-center">
                <i class="fas fa-chart-line fa-3x text-success mb-3"></i>
                <h5 class="card-title">Items</h5>
                <a href="{{ url_for('items') }}" class="btn btn-success">
                    <i class="fas fa-arrow-right"></i> Manage Tags
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body text-center">
                <i class="fas fa-exclamation-triangle fa-3x text-warning mb-3"></i>
                <h5 class="card-title">Triggers</h5>
                <a href="{{ url_for('triggers') }}" class="btn btn-warning">
                    <i class="fas fa-arrow-right"></i> Manage Tags
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
